<div class="wrapper">
    <div class="main__img"></div>
    <div class="main__container">

        <div class="mainDesc">
            <p>В цикле сокращения отходов переработка вторсырья находится на последней ступени, поскольку требует
                больших энергозатрат и часто приводит к снижению технических свойств материала. Но именно сдача отходов
                в переработку позволяет сразу существенно сократить количество мусора, который мы отправляем на полигоны
                и мусоросжигательные заводы.</p>
            <p> <b>С раздельного сбора отходов мы начинаем наш путь к бережному быту.</b></p>
            <p>Существует множество видов вторсырья. Зачем об этом знать?
                Маркировка (цифра в треугольнике) помогает нам сделать правильный выбор: из пластика делают посуду,
                упаковку, детские игрушки и, кажется, что вообще большую часть предметов, которые мы используем
                ежедневно.
            </p>
            <p>Каждый вид вреден по своему.</p>
            <p class="underline"> Мы поможем разобраться.</p>
        </div>

        <form id="textDetection" action="/detectText" method='post' enctype="multipart/form-data">
            <label class="main__label" for="image">Загрузите изображение маркировки:</label>
            <input type="file" name="image" id="image">
            <button class="main__btn" type='submit'>УЗНАТЬ БОЛЬШЕ</button>
        </form>
    </div>
</div>
</div>
