<div class="wrapper">
    <div class="main__img">
        <div class="info__container infoContainer" >
           <h2>Вы не загрузили фото.</h2> 
                <button class="main__btn"> <a href="/">попробовать снова</a> </button>

                
            {{!-- </div> --}}
        </div>
    </div>
</div>